.button {
    background-color: #4a76a8;
    color: #ffffff;
    border: none;
    min-width: 80px;
    min-height: 35px;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
}

.button:hover {
    background-color: #224b7a;
}